* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

#tarjeta {
    color: #2c3e50;
    margin: auto;
    margin-top: 300px;
    width: 600px;
    background-color: #ffffff;
    padding: 40px;
}
.contenido {
    text-align: center;
}

img {
    width: 300px;
    border-radius: 400px;
}

table,th,td {
    text-align: center;
    border-collapse: collapse;
    color: #2c3e50;
    width: 400px;
    height: 100px;
    margin: auto;
    margin-top: 200px;
    border: 3px solid #ddd;
}
th { 
    background-color: #27ae60;
    color: white;
}
p span {
    font-style: italic;
}

a { 
    color: #27ae60;
}